# Runtime dependencies for GOES‑VFI
PyQt6
numpy
Pillow
opencv-python-headless
ffmpeg-python
colorlog
# Optional dependencies:
tqdm  # For progress bars (not required for core functionality)
# Type stubs for MyPy
types-Pillow
imageio
# Development tools
mypy
types-tqdm # Add stubs for tqdm 
pytest-qt # Add pytest-qt for GUI testing 